:root {
  --yellow-background: #e9d5a1;
  --dark-background:#494949;
  --dark-black: #212529;
  --light-black:#353239;
  --font-raleway:  'Raleway', sans-serif;
  --font-libre:  'Libre Franklin', sans-serif;
  }
  
  *, :after, :before {
    box-sizing: border-box;
}
body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Libre Franklin', sans-serif;
  background-color: var(--yellow-background);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.img-logo {
  width: 50px;
}

.logo {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  letter-spacing: -1px;
}

nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.nav-link {
  text-decoration: none;
  padding: 0 10px;
}

.nav-link:nth-child(2) {
  border-right: 1px solid blue;
}

/* THEME DARK*/

.dark-theme .main-container, .dark-theme .lang-container {
  background-color: var(--dark-background);
  color: #fff;
}

.dark-theme h1, .dark-theme p{
  color: #fff;
}

.dark-theme .section-about{
  background-color: #7F7F7F;
}

/* THEME Light*/

.light-theme {
  background-color: var(--yellow-background);
}
.light-theme .section-about{
  background-color: #fff;
}

